$warrior: linear-gradient(82.76deg, #792721 -8.67%, #ff655f 44.75%);
$rogue: linear-gradient(123.98deg, #30ca72 30.32%, #429841 106.48%);
$mage: linear-gradient(82.77deg, #f99f2f 5.38%, #fbf6cd 44.75%);

.play {
  &__inner {
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #96764b;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 900;
    font-size: 62px;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(82.77deg, #4da9ff 5.38%, #54e0ff 44.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    max-width: 630px;
    margin: 0 auto 40px auto;
  }
  &-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    &__item {
      background: linear-gradient(143.97deg, rgba(27, 135, 181, 0.07) -17.08%, rgba(0, 0, 0, 0.03) 74.26%);
      box-shadow: 0px 24px 113.135px rgba(0, 0, 0, 0.16);
      backdrop-filter: blur(197.986px);
      border-radius: 12px;
      padding: 10px;
      width: 80px;
      height: 80px;
      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-active {
        .play-icons__item-warrior {
        }

        .play-icons__item-rogue {
        }

        .play-icons__item-mage {
        }
      }
    }
  }
  &-slider {
    max-width: 1029px;
    width: 100%;
    &__slide {
      width: 448px;
      height: 385px;
      background-position: center;
      background-size: contain;
      &:not(.swiper-slide-visible) {
        opacity: 0;
      }
    }
    &__slide-img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }
  &-description {
    &__inner {
      max-width: 1008px;
      margin-left: auto;
      margin-right: auto;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &__title-img {
    }

    &__title-text {
      font-weight: 900;
      font-size: 48px;
      line-height: 120%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &__text {
      font-weight: 400;
      font-size: 13px;
      line-height: 140%;
      color: rgba(#ffffff, 0.6);
    }
  }
}
