$warrior: linear-gradient(82.76deg, #792721 -8.67%, #ff655f 44.75%);
$rogue: linear-gradient(123.98deg, #30ca72 30.32%, #429841 106.48%);
$mage: linear-gradient(82.77deg, #f99f2f 5.38%, #fbf6cd 44.75%);

.play {
  &__inner {
    max-width: 1328px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #96764b;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 900;
    font-size: 62px;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(82.77deg, #4da9ff 5.38%, #54e0ff 44.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    max-width: 630px;
    margin: 0 auto 40px auto;
  }
  &-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    $playIcons: &;
    gap: 24px;
    &__item {
      background: linear-gradient(143.97deg, rgba(27, 135, 181, 0.07) -17.08%, rgba(0, 0, 0, 0.03) 74.26%);
      box-shadow: 0px 24px 113.135px rgba(0, 0, 0, 0.16);
      backdrop-filter: blur(197.986px);
      border-radius: 12px;
      padding: 10px;
      width: 80px;
      height: 80px;
      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-active {
        #{$playIcons}__item-warrior {
        }

        #{$playIcons}__item-rogue {
        }

        #{$playIcons}__item-mage {
        }
      }
      &:not(.play-icons__item-active) {
        cursor: pointer;
      }
    }
  }
  &__content {
    position: relative;
  }
  &__arrows {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  &__arrow {
    width: 80px;
    height: 80px;
    background: rgba(46, 44, 44, 0.6);
    border-radius: 24px;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      width: 60px;
      height: 60px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &-prev {
      &::before {
        background: url("../../../assets/icons/CaretLeft.svg") center / cover no-repeat;
      }
    }
    &-next {
      &::before {
        background: url("../../../assets/icons/CaretRight.svg") center / cover no-repeat;
      }
    }
  }

  &-slider {
    max-width: 1029px;
    width: 100%;
    &__slide {
      width: 448px;
      height: 540px;
      background-position: center;
      background-size: contain;
      position: relative;
      padding-top: 40px;
      padding-bottom: 40px;
      &:not(.swiper-slide-visible) {
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      &-warrior {
        &::after {
          background: url("../../../assets/heroes/warrior-bg.png") center / cover no-repeat;
        }
      }
      &-rogue {
        &::after {
          background: url("../../../assets/heroes/rogue-bg.png") center / cover no-repeat;
        }
      }
      &-mage {
        &::after {
          background: url("../../../assets/heroes/mage-bg.png") center / cover no-repeat;
        }
      }
    }
    &__slide-img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 80px;
      height: 80px;
      background: rgba(46, 44, 44, 0.6);
      border-radius: 24px;
      left: auto;
      right: auto;
      &:after {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        background-image: linear-gradient(152.08deg, #d4ab79 47.7%, #d9aa5e 168.73%);
      }
    }
    .swiper-button-prev {
      left: -16px;
    }
    .swiper-button-next {
      right: -16px;
    }
  }
  &-description {
    $playDescription: &;
    &__inner {
      max-width: 1008px;
      margin-left: auto;
      margin-right: auto;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &__title-img {
    }

    &__title-text {
      font-weight: 900;
      font-size: 48px;
      line-height: 120%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-transform: capitalize;
      &-warrior {
        background-image: $warrior;
      }
      &-rogue {
        background-image: $rogue;
      }
      &-mage {
        background-image: $mage;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 13px;
      line-height: 140%;
      color: rgba(#ffffff, 0.6);
    }
  }
}
