.expirience {


  &_inner {
    width: 1280px;
height: 877px;
left: 224px;
top: 60px;
justify-self: center;
/* Linear */
background: linear-gradient(180deg, rgba(35, 34, 32, 0.4) 0%, rgba(35, 34, 32, 0) 123.88%);
border-radius: 60px;
  }

  &__subtitle {
  }

  &__title {
  }
}
