.attachment {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // max-width: 1618px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  .prize {
  }
}
